body {

    background-color:#fff;
    color:#ec1c1c;
 
}
.accent {
    color: blue;
}

.box {
    border: 5px solid tomato;
    padding: 10px;
    margin: 50px;
    outline: 3px solid green;
    
}


 